.nav{
    background-color: rgb(63, 154, 206);
    font-size: 1.2rem;
    font-family: sans-serif;
    margin:0px;
    padding:0px;
    width:100%;
    border:2px solid black;
    display: flex;
    justify-content: space-between;
}
.navBar{
    background-color: rgb(63, 154, 206);
    font-size: 1.2rem;
    font-family: sans-serif;
    margin:0px;
    padding:0px;
    width:100%;
    border:2px solid black;
}
.outerNav{
    display: flex;
    justify-content: space-between;
}